<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home/{{model.userId}}">
                <img src="http://sinha-chini-webdev.herokuapp.com/images/mvpr11.png" alt="Home">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#/admin/{{model.userId}}"><span class="glyphicon glyphicon-modal-window"></span>  Manage Profile/Schools</a> </li>
                <li> <a href="#/admin/{{model.userId}}/school"><span class="glyphicon glyphicon-plus"></span>  Add School</a> </li>
                <li> <a href=""><span class="glyphicon glyphicon-search"></span>  Search Users</a> </li>
                <li> <a ng-click="model.logout()"><span class="glyphicon glyphicon-user"></span>  Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="cs-form">
        <h1>School</h1>

        <div class="alert alert-danger" ng-show="model.error">
            {{model.error}}
        </div>

        <div class="alert alert-success" ng-show="model.message">
            {{model.message}}
        </div>

        <label for="name">School Name</label>
        <input ng-model="model.school.name"
               id="name"
               type="text"
               class="form-control"
               placeholder="School Name"/>

        <label for="description">Description</label>
        <textarea ng-model="model.school.description" class="form-control" id="description" placeholder="Description" rows="5"></textarea>

        <label for="state">State</label>
        <input ng-model="model.school.state"
               id="state"
               type="text"
               class="form-control"
               placeholder="State"/>

        <label for="city">City</label>
        <input ng-model="model.school.city"
               id="city"
               type="text"
               class="form-control"
               placeholder="City"/>

        <label for="website">School Website</label>
        <input ng-model="model.school.website"
               type="tel"
               id="website"
               class="form-control"
               placeholder="School Website"/>

        <a ng-click="model.updateSchool(model.school)" class="btn btn-primary btn-block">Update School</a>
        <a class="btn btn-danger  btn-block"
           href="#/admin/{{model.userId}}">Cancel</a>
    </div>
</div>
