input {
    margin-bottom: 5px;
}

body {
    max-width: 100%;
    background-image:  url("../images/landing-page.jpg");
}

.navbar-default {
    background-color: darkslategray;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-text {
    color: white;
}

ul.list-group li a, ul.list-group li a:visited {
    color: black;
}
