<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">
                <img src="http://sinha-chini-webdev.herokuapp.com/images/mvpr11.png" alt="Home">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/login"><span class="glyphicon glyphicon-log-in"></span>  Login</a></li>
                <li><a href="#/athleteRegister"><span class="glyphicon glyphicon-user"></span>  Athlete Register</a></li>
                <li><a href="#/coachRegister"><span class="glyphicon glyphicon-user"></span>  Coach Register</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="cs-form">


        <h1>Login</h1>

        <label for="username">Username</label>
        <input ng-model="user.username" class="form-control" type="text" id="username" placeholder="Username"/>
        <label for="password">Password</label>
        <input ng-model="user.password" class="form-control" type="password" id="password" placeholder="Password"/>

        <button class="btn btn-primary btn-block">Login</button>

        <a href="#/athleteRegister" class="btn btn-success btn-block">
            Register
        </a>

        <a href="/auth/facebook" class="btn btn-info btn-block">
            <span class="fa fa-facebook-official"></span> Login with Facebook
        </a>
        <a href="/auth/google" class="btn btn-danger btn-block">
            <span class="fa fa-google-plus-official"></span> Login with Google
        </a>

    </div>
</div>