<div class="container-fluid">
    <h1>Register</h1>

    <input
           type="text"
           class="form-control"
           placeholder="Username"/>

    <input
           type="text"
           class="form-control"
           placeholder="First Name"/>

    <input
           type="text"
           class="form-control"
           placeholder="Last Name"/>

    <input
            type="email"
            class="form-control"
            placeholder="Email"/>

    <input
           type="password"
           class="form-control"
           placeholder="Password"/>

    <input
           type="password"
           class="form-control"
           placeholder="Confirm Password"/>

    <div class="checkbox">
        <label><input type="checkbox" value="">Baseball</label>
    </div>
    <div class="checkbox">
        <label><input type="checkbox" value="">Basketball</label>
    </div>

    <a
       class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/home">Cancel</a>

</div>