body {
    background: url(../../images/baseball.jpg) no-repeat center fixed;
    background-size: 100% 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.navbar-brand {
    padding: 0px;
}

.navbar-brand img {
    max-height: 49px;
    margin-left: 15px;
}

.navbar-default {
    background-color: lightgoldenrodyellow;
    background: rgba(240, 173, 78, 0.9);
}

.navbar button {
    margin-top: 8px;
    margin-right: 8px;
}

.btn-login {
    color: #fff;
    background-color: saddlebrown;
    border-color: saddlebrown;
}
.btn-warning {
    color: black;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(255, 180, 7, 0.4);
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.jumbotron {
    background-color: rgba(255, 180, 158, 0.26);
}

.jumbotron h1 {
    color: wheat;
}

body h2 {
    color: wheat;
}

body h1 {
    color: wheat;
}

p {
    color: wheat;
    text-align: justify;
}

.cs-padding {
    margin-top: 15px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

input.form-control, textarea {
    margin-bottom: 5px;
}

label {
    color: wheat;
}

.list-group-item label{
    color: black;
}

.cs-form {
    border-radius: 4px;
    background-color: rgba(255, 180, 158, 0.4);
    padding: 10px;
}

.cs-form-1 {
    border-radius: 4px;
    background-color: rgba(255, 180, 158, 0.4);
    padding: 10px;
    margin-top: 5px;
}

div .row ul {
    margin-top: 10px;
}

.list-group-item {
    background-color: wheat;
    border: 1px solid #2b2b2b;
}

div .row ul a {
    color: #2b2b2b;
}

.cs-toolbar {
    position: absolute;
    right: 15px;
    background-color: wheat;
    border-bottom-left-radius: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    opacity: 0.7;
    z-index: 999;
}

.col-xs-2 {
    margin-top: 20px;
}

.img-thumbnail {
    width: 100%;
}