<div class="container-fluid">
    <h1>Register</h1>

    <input
            type="text"
            class="form-control"
            placeholder="Username"/>

    <input
            type="text"
            class="form-control"
            placeholder="First Name"/>

    <input
            type="text"
            class="form-control"
            placeholder="Last Name"/>

    <input
            type="email"
            class="form-control"
            placeholder="Email"/>

    <input
            type="password"
            class="form-control"
            placeholder="Password"/>

    <input
            type="password"
            class="form-control"
            placeholder="Confirm Password"/>

    <input
            type="tel"
            class="form-control"
            placeholder="Phone Number"
    />

    <input
            type="text"
            class="form-control"
            placeholder="Zip"
    />

    <input
        type="number"
        class="form-control"
        placeholder="Year of High School Graduation"
    />

    <div class="radio">
        <label class="radio-inline"><input type="radio" name="optradio">Baseball</label>
    </div>
    <div class="radio">
        <label class="radio-inline"><input type="radio" name="optradio">Basketball</label>
    </div>

    <a class="btn btn-primary btn-block">Register</a>
    <a class="btn btn-danger  btn-block"
       href="#/home">Cancel</a>

</div>