<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home/{{model.userId}}">
                <img src="http://sinha-chini-webdev.herokuapp.com/images/mvpr11.png" alt="Home">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#/athlete/{{model.userId}}"><span class="glyphicon glyphicon-user"></span>  Profile</a> </li>
                <li> <a href="#/athlete/{{model.userId}}/post/new"><span class="glyphicon glyphicon-plus"></span>  Add Post</a> </li>
                <li> <a href="#/athlete/{{model.userId}}/school"><span class="glyphicon glyphicon-search"></span>  Search School</a> </li>
                <li> <a ng-click="model.logout()" class="navbar-link"><span class="glyphicon glyphicon-log-out"></span>  Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid cs-form">
    <div class="row">
        <div class="col-xs-12">
            <h2>Search Youtube</h2>
        </div>
        <div class="col-xs-12">
            <div class="input-group">
                <input ng-model="searchText" type="text" placeholder="Search images" class="form-control">
                <span class="input-group-btn">
                    <a ng-click="model.searchVideos(searchText)" class="btn btn-warning" type="button">
                        <span class="glyphicon glyphicon-search"></span>
                    </a>
                </span>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-xs-12">
            <div class="col-xs-6 cs-form-1 hidden-xs" ng-repeat="video in model.videos">

                <a ng-click="model.selectVideo(video.id.videoId)" class="cs-toolbar">
                    <span class="glyphicon glyphicon-check"></span>
                </a>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{model.getIframeSrc(video.id.videoId)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-xs-12 cs-form-1 visible-xs" ng-repeat="video in model.videos">

                <a ng-click="model.selectVideo(video.id.videoId)" class="cs-toolbar">
                    <span class="glyphicon glyphicon-check"></span>
                </a>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" ng-src="{{model.getIframeSrc(video.id.videoId)}}" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>