<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home/{{model.adminId}}">
                <img src="http://sinha-chini-webdev.herokuapp.com/images/mvpr11.png" alt="Home">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="#/admin/{{model.adminId}}"><span class="glyphicon glyphicon-modal-window"></span>  Manage Profile/Schools</a> </li>
                <li> <a href="#/admin/{{model.adminId}}/school"><span class="glyphicon glyphicon-plus"></span>  Add School</a> </li>
                <li> <a href="#/admin/{{model.adminId}}/searchUser"><span class="glyphicon glyphicon-search"></span>  Search Users</a> </li>
                <li> <a ng-click="model.logout()"><span class="glyphicon glyphicon-user"></span>  Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="alert alert-danger" ng-show="model.error">
        {{model.error}}
    </div>

    <div ng-repeat="post in model.posts" ng-switch="post.type">

        <div class="cs-toolbar">
            <a ng-click="model.deletePost(post._id)" >
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>

        <div ng-switch-when="IMAGE">
            <ng-include src="'views/post/templates/posts/image.view.client.html'">
            </ng-include>
        </div>

        <div ng-switch-when="YOUTUBE">
            <ng-include src="'views/post/templates/posts/youtube.view.client.html'">
            </ng-include>
        </div>

    </div>
</div>