<div class="container-fluid">
    <div class="form-group cs-form">
        <form action="/api/project/post/upload" method="post" enctype="multipart/form-data">

            <label for="title">Title</label>
            <input ng-model="model.post.title" class="form-control"
                   id="title" placeholder="Post Title">

            <label for="description">Description</label>
            <textarea ng-model="model.post.description" class="form-control"
                      id="description" placeholder="Description"></textarea>

            <label for="url">URL</label>
            <input ng-model="model.post.url" class="form-control"
                   id="url" placeholder="URL">

            <label for="width">Width</label>
            <input ng-model="model.post.width" class="form-control"
                   id="width" placeholder="100%" >

            <label for="upload">Upload</label>
            <input class="form-control" id="upload" type="file" name="myFile">
            <input  name="width" value="{{model.post.width}}" type="hidden"/>
            <input  name="postId" value="{{model.post._id}}" type="hidden"/>
            <input  name="userId" value="{{model.userId}}" type="hidden"/>
            <button type="submit" class="btn btn-primary btn-block">Upload Image</button>
       </form>
    </div>
    <div class="form-group">
        <a class="btn btn-info btn-block"
           href="#/athlete/{{model.userId}}/post/{{model.post._id}}/flickrSearch">
            <span class="fa fa-flickr"></span> Search Flickr
        </a>

        <button class="btn btn-success btn-block"
                ng-click="model.updatePost(model.post)">
            Complete
        </button>
        <button class="btn btn-danger btn-block" data-toggle="modal" data-target="#myModal">
            Delete
        </button>
    </div>
</div>

<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="deleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="deleteModal">Delete Post</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h4>Are you sure you want to delete the post?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" data-backdrop="false" ng-click="model.deletePost(model.post._id)">Delete</button>
            </div>
        </div>
    </div>
</div>